svg rect.bar {
    fill: red;

}

.bar:hover {
    fill: lightblue;
}

svg {
    border: 1px solid black;
}

#tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    background-color: lightblue;
    padding: 10px;
}

