html {
    background-color: white;
}


#root {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 960px;
    height: 540px;
}

#tooltip {
    position: fixed;			
    text-align: start;								
    padding: 10px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
}